@import "../custom";
$rfs-breakpoint: 1920px;
@import "~rfs/scss";

// @import "~daemonite-material/assets/scss/material";
// Below is a partial import of the above to save on asset size
@import "~daemonite-material/assets/scss/colors";
@import "~daemonite-material/assets/scss/functions";
@import "~daemonite-material/assets/scss/mixins";
@import "~daemonite-material/assets/scss/variables";
@import "~daemonite-material/assets/scss/utilities";

@import "~daemonite-material/assets/scss/base/base";
@import "~daemonite-material/assets/scss/base/grid";
@import "~daemonite-material/assets/scss/base/typography";

@import "~daemonite-material/assets/scss/bootstrap/jumbotron";

header.schools-index {
  h1 {
    @include typography-display-4;
    @include font-size(64px);

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

main.schools-index {
  h2 {
    @include font-size(24px);
    padding-top: 0.5em;

    a {
      color: inherit;
    }
  }
}
