@import "material";

header.results-index {
  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-1;
    }
  }

  @include media-breakpoint-up(sm) {
    h1 {
      @include typography-display-2;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      @include typography-display-3;
    }
  }

  @include media-breakpoint-up(xl) {
    h1 {
      @include typography-display-4;
    }
  }

  h1 i.u-logo {
    margin: 0 -0.14em;
    &:hover {
      animation: fire 3s linear infinite;
    }
  }

  a {
    text-decoration: none;
    color: #f5f5f5 !important;
  }

  img.sciolyff-github {
    vertical-align: top;
  }
}

@keyframes fire {
  0% { color: crimson; }
  14% { color: darkorange; }
  28% { color: gold; }
  42% { color: yellowgreen; }
  57% { color: royalblue; }
  71% { color: indigo; }
  86% { color: darkviolet; }
  100% { color: crimson; }
}

div.results-classic-wrapper {
  // make sticky stuff work
  overflow: auto;
  height: 100vh;
  // always show scrollbar area on Firefox for layout consistenty when filtering
  overflow-y: scroll;
  // also used to change table layout when focusing on one event
}

div.results-classic-thead-background {
  background-color: theme-color-dark(secondary);
  position: sticky;
  top: 0;
  height: calc(12.5em + 3ex);
  min-width: 80.5em;
}

div.results-classic-header {
  @extend .text-light;
  padding: 1.5em 0.75em;
  margin: 0 auto;
  width: 80em;
  user-select: none; // make header text unselectable so that CTRL+A only
                     // selects the table for easy CSV for user

  div.actions a {
    display: inline-block;
    margin-right: 0.6em;
    color: inherit;
  }

  p.source {
    display: none; // only needed when printing
  }

  select.custom-select {
    display: inline;
    color: inherit;
    border-color: inherit;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="white" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    margin-left: 0.2em;

    &:hover {
      -webkit-box-shadow: inset 0 -2px 0 -1px white;
            box-shadow: inset 0 -2px 0 -1px white;
    }

    &#event-select {
      text-overflow: ellipsis;
      width: 7em;
    }

    &#sort-select {
      width: 7em;
      margin-right: 0.6em;
    }

    background-color: $material-color-pink-500;
    option {
			// for the select boxes on Windows, which inherit the white text color
			color: #424242 !important;
			background-color: white;
    }
  }
}

table.results-classic {
  table-layout: fixed;
  width: 80em;
  margin: -3ex auto 0.75em;

  // fixed table widths
  th.number { width: 2em; }
  th.school { width: 18em; }
  th.rank { width: 4em; }
  th.total-points { width: 4em; }

  thead {
    @extend .text-light;
  }

  th.event-points, th.team-penalties {
    width: 2em;
    transform: rotate(-90deg);
    white-space: nowrap;
    padding-left: 0.7em;
  }

  td.event-points,
  th.total-points, td.total-points,
  th.rank, td.rank, td.team-penalties {
    text-align: center;
  }

  th.number, td.number {
    text-align: right;
    padding-right: 0.5em;
  }

  colgroup.event-columns col.hover {
    background-color: #eeeeee;
  }

  td.event-points[data-points='1'] div,
  td.event-points-focus[data-points='1'] div,
  td.rank[data-points='1'] div {
    background-color: $material-color-yellow-400;
    border-radius: 1em;
  }
  td.event-points[data-points='2'] div,
  td.event-points-focus[data-points='2'] div,
  td.rank[data-points='2'] div {
    background-color: $material-color-blue-grey-100;
    border-radius: 1em;
  }
  td.event-points[data-points='3'] div,
  td.event-points-focus[data-points='3'] div,
  td.rank[data-points='3'] div {
    background-color: $material-color-amber-200;
    border-radius: 1em;
  }
  td.event-points[data-points='4'] div,
  td.event-points-focus[data-points='4'] div,
  td.rank[data-points='4'] div {
    background-color: $material-color-yellow-100;
    border-radius: 1em;
  }
  td.event-points[data-points='5'] div,
  td.event-points-focus[data-points='5'] div,
  td.rank[data-points='5'] div {
    background-color: $material-color-light-green-100;
    border-radius: 1em;
  }
  td.event-points[data-points='6'] div,
  td.event-points-focus[data-points='6'] div,
  td.rank[data-points='6'] div {
    background-color: $material-color-pink-100;
    border-radius: 1em;
  }

  // make medals circular (replicate the behavior before div wrapping needed for
  // Chrome, gosh darn it Chrome)
  td.rank, td.event-points {
    padding: 0;

    div {
      width: 2em;
      height: 2em;
      margin: 0 auto;
      line-height: 2em;
    }
  }

  td.rank div { width: 3em; } // wider badge for overall rank

  // event points that are displayed directly next to team, hidden by default
  th.event-points-focus, td.event-points-focus {
    width: 0;
    padding: 0;
  }

  th {
    position: sticky;
    top: 12.5em;
    zoom: 1.0001; // hack to fix blurry headers on Chrome
  }

  tr {
    height: 2em;
  }

  th.rank {
    div {
      margin-left: -12em;
      margin-right: 0.3em;
      text-align: right;
    }
  }

  // hacky hotfix for Chrome and related browsers
  th { z-index: 1; }
}

// slightly modified table layout for when focusing on one event
// JS triggered
div.results-classic-wrapper.event-focused {

  // make table slightly wider
  div.results-classic-thead-background { min-width: 84.5em; }
  div.results-classic-header { width: 84em; }
  table.results-classic { width: 84em; }

  table.results-classic {

    th.event-points-focus {
      width: 4em;
      white-space: nowrap;
      text-overflow: ellipsis;

      div {
        margin-left: -12em;
        margin-right: 1em;
        text-align: right;
      }
    }

    td.event-points-focus {
      padding: 0;

      div {
        width: 2em;
        height: 2em;
        margin: 0 auto;
        line-height: 2em;
        text-align: center;
      }
    }
  }
}

div#print-instructions {
  ul {
    padding-left: 1.5em;
  }

  p.small {
    padding-left: 0.75em;
  }
}

@media print {

  html {
    // attempt to get backgrounds to print
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  // all following until note of custom print styling just revert page back to
  // printable state, kept separate for clarity

  div.results-classic-wrapper {
    overflow: visible;
    height: auto;
  }

  div.results-classic-thead-background {
    -webkit-box-shadow: none !important;
    shadox-box: none !important;
    background-color: transparent !important;
    position: static;

    div.results-classic-header {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  div.results-classic-header {
    div.actions {
      display: none;
    }

    p.source {
      display: block;
    }
  }

  table.results-classic {
    tr {
      height: auto;

      th {
        color: rgba(0, 0, 0, 0.87);
        position: static;
      }

      td div {
        line-height: normal !important;
        height: auto !important;
        background-color: transparent !important;
      }
    }

    colgroup.event-columns col.hover {
      background-color: transparent;
    }

    // override .table-hover
    tbody tr {
      @include hover {
        background-color: inherit;
      }
    }
  }

  // custom print styling starts here

  table.results-classic {
    line-height: 1.35; // make Nats results (up to 60 teams) fit on one page

    tbody {
      tr:nth-child(6n-5), tr:nth-child(6n-4), tr:nth-child(6n-3) {
        background-color: #e0e0e0;

        td.rank {
          color: white;
          background-color: black;
        }

        td.team-penalties {
          background-color: #ffff00;

          &[data-points='0'] {
            color: #ffff00 !important; // hide text if no penalty
          }
        }
      }

      tr:nth-child(6n-2), tr:nth-child(6n-1), tr:nth-child(6n) {
        td.team-penalties {
          background-color: #ffff8d;

          &[data-points='0'] {
            color: #ffff8d !important; // hide text if no penalty
          }
        }
      }

      td.total-points, td.rank {
        font-weight: 450;
        border-left: 1px solid black;
      }
    }

    colgroup {
      &.event-columns col:nth-child(3n-2) {
        border-left: 1px solid black;
      }
    }
  }
}
