@import "material";

body {
  background-color: theme-color-light(primary);
}

header.results-index {
  @include media-breakpoint-down(sm) {
    h1 {
      @include typography-display-1;
    }
  }

  @include media-breakpoint-up(sm) {
    h1 {
      @include typography-display-2;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      @include typography-display-3;
    }
  }

  @include media-breakpoint-up(xl) {
    h1 {
      @include typography-display-4;
    }
  }
}

table.results-classic {
  table-layout: fixed;
  width: 100%;

  th.number {
    width: 2em;
  }

  th.school {
    width: 18em;
  }

  th.rank {
    width: 3em;
  }

  th.total-points {
    width: 5em;
  }

  th.event-points {
    width: 2em;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  td.school {
    white-space: nowrap;
  }
}
