<% wrap_layout :layout do %>

<header class="jumbotron jumbotron-fluid results-index bg-primary">
  <div class="container">
  <h1 class="text-light text-center">UnOs Results</h1>
  <p class="lead text-light text-center">Powered by the SciolyFF</p>
  </div>
</header>

<main class="container mt-5" aria-label="Content">
  <%= yield %>
</main>

<% end %>
