<% wrap_layout :layout do %>

<header class="jumbotron jumbotron-fluid results-index bg-primary">
  <div class="container">
    <h1 class="text-light text-center"><a href="/"><i class="material-icons u-logo">whatshot</i>nosmium</a> Results</h1>
  <p class="lead text-light text-center">Powered by the
  <a href="https://github.com/unosmium/sciolyff">SciolyFF
    <img src="/images/GitHub-Mark-Light-32px.png">
  </a></p>
  </div>
</header>

<main class="container mt-5" aria-label="Content">
  <%= yield %>
</main>

<% end %>
