@import "~material-design-icons/iconfont/material-icons.css";

$primary: (
  color: #1F1B35,
  dark:  darken(#1F1B35, 10%),
  light: lighten(#1F1B35, 10%)
);

$secondary: (
  color: #5b8294,
  dark:  darken(#5b8294, 10%),
  light: lighten(#5b8294, 10%)
);

html {
  // disable double-tap to zoom
  touch-action: manipulation;
}

a[data-toggle=popover] {
  // make popovers look clickable
  cursor: pointer;
}
