---
layout: layout
---
<div class="splash">
  <img src="<%= find_logo_path(t) %>"/>
  <p class="typography-headline">Results are being finalized</p>
  <p class="typography-subheading">Please come back soon!</p>
  <a href="../results">
    <p class="typography-caption">Powered by Duosmium Results</p>
  </a>
</div>
